@font-face { font-family: GrandSlang; font-weight: regular; src: url('assets/GrandSlang-Roman.woff'); }
@font-face { font-family: GrandSlang-B-Side; font-weight: regular; src: url('assets/GrandSlang-B-Side.woff'); }
@font-face { font-family: GrandSlang-Italic; font-weight: regular; src: url('assets/GrandSlang-Italic.woff'); }

html{
  font-size: 1px;
}


/* loading screen */
.loading-container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  font-family: 'GrandSlang';
  font-size: 24pt;
  color: white;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  animation: flash 2s linear infinite;
  animation-delay: 1s;
}


@keyframes flash {
  0% { color: white; }
  50% { color: #9DB5F3;}
  100% { color: white; }
}


body{
  font-size: 14pt;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  white-space: nowrap;
  overflow-x: scroll;
}


canvas{
  position: absolute;
  height: 100%;
  Width: 100%;
  top: 0;
  left: 0;
  z-index: -3;
  display: block;
}

h1{

  margin-block-start: 0em;
  font-family: 'GrandSlang';
  font-size: 32pt;
  font-weight: regular;

}

h2{
  font-size: 18pt;
  font-weight: bold;
  margin-block-start: 0;
}

a{
  text-decoration:none;
  color: black;
}

.interactive{
  font-family: 'Space Grotesk', sans-serif;
}


.button{
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  padding: 10px 20px;
  border-radius: 50px;
  margin-top: 20px;
  -moz-box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow:  0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow:  0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #FAFAFA;
  font-family: 'Space Grotesk', sans-serif;

}

.circle svg{
  height: 30px;
  padding: 4px 0;
}


.circle{
  vertical-align: top;
  box-sizing: border-box;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    width: 45px;
  height: 45px;
    text-align: center;
    border-radius: 50px;
  position: relative;
  -moz-box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow:  0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow:  0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #FAFAFA;
  margin-top: 20px;
}

/* navigation */

.nav{
  position: fixed;
  width: 40px;
  right:40px;
  top:40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.nav a{
  display: inline-block;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  -moz-box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow:  0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow:  0 0px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08), inset 0 5px 2px 1px #FFFFFF, inset 0 -2px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #FAFAFA;

}
.nav a div{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}


/* home page */

.dailydose{
  display:inline-block;
  position: absolute;
  left:50%;
  top:40px;
  transform: translateX(-50%);
  border-radius:50px;
  padding: 15px 25px;
  font-size: 16pt;
  background: white;
  -moz-box-shadow:    inset 0 2px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow:         inset 0 2px 10px rgba(0, 0, 0, 0.5);

}



/* page content formating */

.container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
  padding-top: 100px;
}

.comparison{
  padding: 100px 25px 100px 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;

}
.image{
  height:400px;
  display:inline-block;
}

img{
  height:100%;
  -moz-box-shadow: ;
  -webkit-box-shadow:  ;
  box-shadow:  3px 3px 5px 1px rgba(0, 0, 0, 0.2), 0 0.5px 5px 0 rgba(0, 0, 0, 0.08);
}

#yours{
  border-style: solid;
  border-width: 1px;
}

.controlBottom {
  display: flex;
  flex: wrap;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-end;
}

.padding{
  width:20px;
  display: inline-block;
}

.caption{
  display:inline-block;
  margin-top: 20px;
  white-space: normal;
  font-size: 12pt;
  width:495px;
}


/* hover states */

.button:hover{
  -moz-box-shadow:   0 0px 15px 5px #9DB5F3, 0 0 20px 3px #9DB5F3;
  -webkit-box-shadow:  0 0px 15px 5px #9DB5F3, 0 0 20px 3px #9DB5F3;
  box-shadow:  0 0px 15px 5px #9DB5F3, 0 0 20px 3px #9DB5F3;
}

.interactive:hover{
  -moz-box-shadow:   0 0px 15px 5px #9DB5F3, 0 0 20px 3px #9DB5F3;
  -webkit-box-shadow:  0 0px 15px 5px #9DB5F3, 0 0 20px 3px #9DB5F3;
  box-shadow:  0 0px 15px 5px #9DB5F3, 0 0 20px 3px #9DB5F3;
}
